* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bona Nova SC", serif;
  font-weight: 400;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  color: #ffffff;
  overflow-x: hidden;
}

/* full div */
.full-div {
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-color: #1b1616;
  z-index : 5;
  top: 0%;
  transition: all ease 0.8s;
  opacity: 0;
}

.full-div-inner {
  display: flex;
  padding: 7vw 2vw;
}

.full-div-left {
  height: 90vh;
  width: 30vw;
}

.full-div-right {
  height: 90vh;
  width: 70vw;
}

.full-div span {
  color: #006dfc;
  font-size: 2vw;
}

.full-div ul {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.full-div a {
  padding-top: 7px;
  list-style: none;
  margin-bottom: 10px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: 400;
  /* font-family:"Founders Grotesk", sans-serif; */
  font-size: 1.5vw;
}

.full-div a:hover {
  color: #006dfc;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.full-div-right ul a {
  font-size: 3vw;
  font-weight: 600;
}

/* LogIn */


/* nav  */
nav {
  height: 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 1vw 3vw;
  position: fixed;
  z-index: 10;
}

.nav-inner button {
  padding: 7px 23px;
  border-radius: 20px;
  font-size: 1vw;
  background-color: transparent;
  border: 0.5px solid rgb(161, 161, 161);
  color: #ffffff;
  margin-right: 5px;
  transition: 0.8s;
}

.nav-inner button:hover {
  background-color: #006dfc;
  border: none;
  color: black;
  cursor: pointer;
}

nav img {
  height: 50px;
  width: 50px;
  mix-blend-mode: difference;
}

/* page1 */

.page1 {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  flex-direction: column;
  text-align: center;
}

.page1 h1 {
  font-size: 5vw;
  font-weight: 740;
  font-optical-sizing: auto;
}

.page1 p {
  margin-top: 2vh;
  font-size: 1.5vw;
  font-weight: 200;
  font-family: "Founders Grotesk", sans-serif;
  font-optical-sizing: auto;
}

.page1 video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  z-index: -1;
}

.page1-inner {
  height: 70px;
  width: 25vw;
  border-radius: 5px;
  background-color: rgba(192, 192, 192, 0.144);
  margin-top: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page1-inner button {
  margin: 10px;
  padding: 7px 25px;
  border-radius: 20px;
  font-size: 1vw;
  background-color: #bebebe;
  border: none;
  transition: 0.8s;
}

.page1-inner button:hover {
  background-color: #006dfc;
}

#page1-btn {
  background-color: #006dfc;
  margin-right: 20px;
}

#page1-btn:hover {
  background-color: #bebebe;
  border: none;
  color: black;
}

.adding-jaddu {
  position: absolute;
  height: 100px;
  width: 100px;
  bottom: 1%;
  right: 2%;
}

.adding-jaddu a > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: rgb(146, 210, 232);
}

/* page2 */

.page2 {
  height: 110vh;
  width: 100vw;
  background-color: #000;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page2 h1 {
  font-size: 4.5vw;
  font-weight: 400;
  letter-spacing: 0.1vw;
  color: #006dfcf9;
  transition: all linear 1s;
}

.page2 h2 {
  font-size: 5vw;
  font-weight: 300;
  letter-spacing: 0.1vw;
}

.page2-box {
  margin-top: 8vh;
  display: flex;
  gap: 3vw;
}

.page2-box .box {
  height: 65.5vh;
  width: 28vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box h3 {
  position: absolute;
  bottom: 3%;
  margin-bottom: 1vw;
  font-size: 2.5vw;
  font-weight: 500;
  transition: all ease 0.5s;
  color: #fff;
}

.box p {
  position: absolute;
  bottom: 5%;
  width: 25vw;
  font-size: 1.3vw;
  font-weight: 500;
  opacity: 0;
  transition: all ease 0.7s;
  color: #fff;
}

.box img {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 0px;
  transition: 1s;
  object-fit: cover;
}

.box img:hover {
  opacity: 0;
}

.box video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.page2 button{
  opacity: 0;
}

/* Page-3 */

.page3 {
  background-image: url("../Images/page3-back.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page3 h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b4f3f;
  font-size: 5vw;
  text-transform: uppercase;
}

.page3 p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 3vw;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

.scroller {
  margin-top: 25vh;
  height: 24vh;
  width: 100%;
  position: relative;
  white-space: nowrap;
  padding: 2vw;
  overflow: hidden;
}

.scroller-in {
  display: inline-block;
  animation-name: scroll;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.scroller-in img {
  height: 30px;
  /* width: 100; */
  /* border-radius: 50%; */
  object-fit: cover;
  margin-left: 2vw;
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

/* page4 */
.page4{
  position: relative;
  height: 355vh;
  width: 100vw;
  background-color: #000000;
  padding: 4vw 2vw;
  display: flex;
  border-bottom: 1px solid #BEBEBE;
  flex-direction: column;
}

.page4 h1{
  font-size: 3vw;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3vw;
}

.page4 h1 span{
  color: #006dfc;
}

.page4-inner{
  display: flex;
  border-bottom: 0.5px solid #bebebe;
}

.page4-left{
  height: 65vh;
  width: 50vw;
  position: relative;
}

.page4-left h3{
  margin-top: 10vh;
  font-size: 1vw;
  font-weight: 200;
  margin-bottom: 3vh;
  color: #edecec;
}

.page4-left h2{
  font-size: 3vw;
  font-weight: 500;
  margin-top: 1vw;
  margin-bottom: 1vw;
}

.page4-left p{
  width: 25vw;
  font-size: 1.3vw;
  font-weight: 100;
  color: #edecec;
}

.page4-left a{
  position: absolute;
  padding: 10px 20px;
  border-radius: 50px;
  bottom: 20%;
  border: 0;
  background-color: #006dfc;
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
}

.page4-left a:hover{
  background-color: #BEBEBE;
  color: #000000;
  transition: all ease 0.2s;
}

.page4-right{
  height: 65vh;
  width: 50vw;
}

.page4-right img{
  width: 42%;
  height: 14%;
  margin-top: 10vh;
  padding-left: 2vw;
  position: absolute;
  opacity: 1;
}


.page4-right img:hover{
  opacity: 0;
}

.page4-right video{
  position: absolute;
  height: 14%;
  width: 42%;
  object-fit: cover;
  margin-top: 10vh;
  opacity: 0;
  padding-left: 2vw;
  transition: all ease 0.3s;
}

.page4-right video:hover{
  opacity: 1;
}

/* Page5 */

.page5{
  display: flex;
  background-color: #000;
  padding-top: 5vh;
  /* height: 150vh; */
}

.page5 .left{
  background-color: #080808;
  height: 115vh;
  width: 50vw;
  
}
.page5 .right{
  background-color: #cac9c9;
  height: 115vh;
  width: 50vw;
  color: black;
}

.page5 .left img{
  height: 55px;
  margin-left: 2vw;
  margin-top: 5vh;
}

.page5 .left h1{
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.page5 .left p{
  margin: 0 2vw;
  font-size: 17px;
}

.page5 .right h1{
  letter-spacing: 0.1vw;
  display: flex;
  justify-content: center;
  margin-top: 3vh;
  margin-bottom: 3vh;
  font-size: 33px;
  font-weight: 700;
}

.page5 .right h1:nth-child(1){
  margin-top: 10vh;
}

.page5 .right p{
  margin: 0 2vw;
  font-size: 17px;
}

footer{
  position: relative;
  height: 60vh;
  width: 100vw;
  background-color: #000;
  padding: 2vw;
}

.footer-inner{
  display: flex;
}

.footer-left{
  width: 65vw;
}

.footer-left img{
  width: 7vw;
  margin-bottom: 1.5vw;
}

.footer-left h1{
  font-size: 1.5vw;
  margin-bottom: 2vw;
}

.footer-left button{
  padding: 10px 20px;
  border-radius: 50px;
  border: 0;
  background-color: #006dfc;
}

.footer-right{
  width: 35vw;
}

.footer-inner-right{
  display: flex;
  width: 30vw;
  margin-left: 4vw;
}

.footer-right-left span {
  color: #006dfc;
  font-size: 1.5vw;
}

.footer-right-left ul {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.footer-right-left a {
  padding-top: 7px;
  list-style: none;
  margin-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 1vw;
}

.footer-right-left a:hover {
  color: #006dfc;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.footer-right-left ul a {
  font-size: 1vw;
  font-weight: 600;
}

.footer-right-right{
  margin-left: 8vw;
}


.footer-right-right span {
  color: #006dfc;
  font-size: 1.5vw;
}

.footer-right-right ul {
  margin-top: 3vh;
  margin-bottom: 5vh;
}

.footer-right-right a {
  padding-top: 7px;
  list-style: none;
  margin-bottom: 5px;
  color: #ffffff;
  text-decoration: none;
  display: block;
  font-weight: 400;
  font-size: 1vw;
}

.footer-right-right a:hover {
  color: #006dfc;
  margin-left: 10px;
  transition: all ease 0.2s;
}

.footer-right-left ul a {
  font-size: 1vw;
  font-weight: 600;
}